# format options
--allman false
--binarygrouping none
--closingparen balanced
--commas inline
--conflictmarkers reject
--decimalgrouping none
--elseposition next-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--nospaceoperators
--self remove
--selfrequired 
--semicolons inline
--stripunusedargs closure-only
--trailingclosures 
--trimwhitespace always
--wraparguments before-first
--wrapcollections before-first
--disable redundantReturn
    
# file options
--exclude Pods,Carthage,MangaONE2/Frameworks,R.generated.swift